[Desktop Entry]
Name=Bug Report Tool
Name[pt_BR]=Ferramenta de Relatório de Erros
Name[da]=Fejl-Frede
Name[de]=Fehlermelder
Name[el]=Åñãáëåßï ÁíáöïñÜò ÓöáëìÜôùí
Name[es]=Herramienta de informe de errores
Name[fr]=Bug Buddy
Name[gl]=bug-buddy
Name[it]=bug-buddy
Name[ja]=ÉÔ¶ñ¹çÊó¹ğ¥Ä¡¼¥ë
Name[lt]=bug-buddy
Name[fi]=bug-buddy
Name[no]=Bug Buddy
Name[sk]=Nástroj pre oznamovanie chıb
Name[sl]=bug-buddy
Name[sv]=Felrapporteringsverktyg
Name[tr]=Hata rapolayıcısı
Comment=Report a bug in GNOME
Comment[pt_BR]=Informar erro no GNOME
Comment[da]=Indberet en fejl i Gnome
Comment[de]=Einen Fehler bei GNOME melden
Comment[el]=ÁíáöïñÜ óöáëìÜôùí ôïõ GNOME
Comment[es]=Informe de un error en GNOME
Comment[fr]=Crée un rapport d'anomalies pour GNOME
Comment[gl]=Informe dun erro de GNOME
Comment[it]=Invia notifica di errore
Comment[ja]=GNOME¤ÎÉÔ¶ñ¹çÊó¹ğ¥Ä¡¼¥ë
Comment[lt]=Klaidø praneğimo árankis
Comment[no]=Rapportering av feil i GNOME
Comment[sk]=Nástroj GNOME pre oznamovanie chıb
Comment[sl]=Sporoèanje hro¹èev v GNOME-u
Comment[sv]=Rapportera ett fel i GNOME
Comment[tr]=GNOME'da hata bulunca bu uygulamayla rapolayabilirsin
Comment[fi]=Gnome:n graafinen ohjelmavirheiden raportointityökalu
Exec=bug-buddy
Icon=bug-buddy.png
Terminal=0
Type=Application
